{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <div style="display: flex; flex-direction: column;">
        {% set price = 0.0 %}

        {% for prod in products %}
            <div>
                <h2>{{ prod.name }}</h2>
                <img src="{{ prod.image }}" alt="{{ prod.name }}">
                <p>
                    {{ prod.description }}
                </p>
                <a href="{{ url('view_product', {'id': prod.id}) }}">Voir</a>

                <div>{{ prod.count }}x</div>
                <a href="/cart/delete/{{ prod.id }}">
                    <img src="/images/Trash.png" alt="Supprimer" width="20" />
                </a>
                <a href="/cart/dec/{{ prod.id }}">
                    -
                </a>
                <a href="/cart/inc/{{ prod.id }}">
                    +
                </a>
            </div>

            {% set price = price + prod.count * prod.price %}
        {% endfor %}

        {% if products | length > 0 %}
            Total : {{ price }} €
            <a href="{{ url('cart_erase') }}">Vider mon panier</a>
            <a href="{{ url('add_order') }}">Valider ma commande</a>
        {% else %}
            <div>Votre panier est vide</div>
        {% endif %}
    </div>
{% endblock %}
