{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

<div>
    <h1>Liste des catégories</h1>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for cat in categories %}
                <tr>
                    <th>{{ cat.id }}</th>
                    <td>{{ cat.name }}</td>
                    <td><a href="{{ url('edit_category', {'id': cat.id}) }}">Modifier</a> <button id="{{ cat.id }}" class="delete">Supprimer</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url('add_category') }}">Ajouter une catégorie</a>
</div>

<div id="modal" hidden>
    Confirmer la suppression de la catégorie ?
    <div>
        <button id="delete_yes">Oui</button>
        <button id="delete_no">Non</button>
    </div>
</div>

<script>
    const modal = $("#modal");
    let idDelete = "";
    const buttonsDelete = Array.from($(".delete"));

    buttonsDelete.map((b) =>
    {
        $("#" + b.id).click(() =>
        {
            idDelete = b.id;
            modal.show();
        });
    });

    $("#delete_yes").click(() =>
    {
        window.location.href = "/category/delete/" + idDelete;
    });

    $("#delete_no").click(() =>
    {
        modal.hide();
    });
</script>
{% endblock %}
