{% extends 'base.html.twig' %}

{% block title %}Catégorie "{{ cat.name }}"{% endblock %}

{% block body %}

<div>
    <h1>Catégorie "{{ cat.name }}"</h1>

    {% for i in 1..nbPages %}
        <a href="{{ url('app_by_cat', {'id': cat.id, 'page': i}) }}">{{ i }}</a>
    {% endfor %}

    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
        {% for product in products %}
            <div>
                <h2>{{ product.name }}</h2>
                <img src="{{ product.image }}" alt="{{ product.name }}" width="500">
                <div>
                    <a href="{{ url('view_product', {'id': product.id}) }}">Voir</a>
                </div>
            </div>
        {% endfor %}
    </div>

    {% for i in 1..nbPages %}
        <a href="{{ url('app_by_cat', {'id': cat.id, 'page': i}) }}">{{ i }}</a>
    {% endfor %}
</div>
{% endblock %}
