{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

<div>
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image }}" alt="{{ product.name }}" width="500">
    <p>
        {{ product.description }}
    </p>
    <div>{{ product.price }} €</div>
    
    {% if product.nbCopies > 0 %}
        <button id="add_cart">Ajouter au panier</button>
    {% else %}
        <div>Ce produit n'est plus disponible</div>
    {% endif %}

    <div id="modal" style="display:none;">
        <div id="message"></div>
    </div>
</div>

<script>
    $("#add_cart").click(() =>
    {
        $.get("/api/cart/add/{{ product.id }}", (res) =>
        {
            $("#modal").show();
            $("#message").text(res.message);

            setTimeout(() =>
            {
                $("#modal").hide();
            }, 5000);

            if(res.success)
            {
                $("#count_cart").text(res.count);
            }
        });
    });
</script>

{% endblock %}
